<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us | Scoopy Doo</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
</head>
<body>

<%- include("partials/header") %>

<main id="about">
  <div class="text">
    <h2>About Scoopy Doo</h2>
    <p>Welcome to Scoopy Doo, the ultimate destination for delicious ice cream treats! Our mission is to bring joy to every scoop.</p>
    <p>We offer a variety of flavors and styles, from classic cones to decadent sundaes. Every bite is crafted with love and the finest ingredients.</p>
  </div>
  <div class="image">
   <img src="/images/aboutimage.jfif" alt="About Scoopy Doo" class="about-image">

  </div>
</main>

<%- include("partials/footer") %>

</body>
</html>
